<.header>
  New Psychologist
  <:subtitle>Use this form to manage psychologist records in your database.</:subtitle>
</.header>

<.psychologist_form changeset={@changeset} action={~p"/psychologists"} />

<.back navigate={~p"/psychologists"}>Back to psychologists</.back>
