<.header>
  Edit User <%= @user.id %>
  <:subtitle>Use this form to manage user records in your database.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/psychologists/#{@user}"} />

<.back navigate={~p"/psychologists"}>Back to psychologists</.back>
